<div class="alt">
    <nav>
        <div class="row">
            <a href="#/intro"><img src="resources/images/logo.png" alt="Utah Piano Tuning Logo" class="logo"></a>
            <a href="#/intro"><img src="resources/images/logo.png" alt="Utah Piano Tuning Logo" class="logo-black"></a>
            <ul class="alt-nav">
                <li><a href="#works">How it works</a></li>
                <li><a href="#cities">FAQ's</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li><a href="#/contact">Contact Us</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
</div>

<section class="section-blog js--section-blog" id="blog">
    <div class="row">
        <h2>What to expect from a Piano technician's visit</h2>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            How long will it take?
        </h4>
        <ul class="blog-description">
            <li>
                Most Piano Technicians try to be in and out of your house within a two hour window. This window can obviously vary if repairs are needed, but generally two hours should suffice - even if a pitch raise is needed.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            What should I do to be ready for them to arrive?
        </h4>
        <ul class="blog-description">
            <li>
                It is helpful to the technician if you have the piano cleared of decorations before they arrive. Otherwise, just being there to let them in and being prepared to pay them before they leave is sufficient.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            How much should I expect to pay?
        </h4>
        <ul class="blog-description">
            <li>
                Most Piano Technicians try to be in and out of your house within a two hour window. This window can obviously vary if repairs are needed, but generally two hours should suffice - even if a pitch raise is needed.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            How much will it cost?
        </h4>
        <ul class="blog-description">
            <li>
                This is a difficult question to answer. Most technicians have a base rate just to come out to your house. They will also have a base rate for the minimum service that they provide when called on to do a basic tuning. If there are services required outside of that base rate the technician will generally charge an hourly rate for time it takes them to perform the additional services.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            What can I expect from the piano technician?
        </h4>
        <ul class="blog-description">
            <li>
                Expect them to be professional. It may be somewhat uncomfortable for you to invite a stranger into your home for a couple hours, but understand that they have made a career of it. Obviously piano technicians can vary in personality types, but most are naturally quite courteous as a guest in your home.
            </li>
            <li>
                It is common for individuals having their piano tuned (especially if it has been a while) to be curious about how their piano works, or how a tuning is done. Please feel free to ask your technician any questions you have. Also, feel free to watch them work and ask questions about how they learned to tune or what they are listening for when tuning. Unless the technician is under a time constraint, they will enjoy the interaction and sharing with you why they love what they do.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            What is a "Pitch Raise" and why is it needed?
        </h4>
        <ul class="blog-description">
            <li>
                Pitch raises are commonly needed if it has been 2 or more years since your piano was last serviced. The reason for this is tension.
            </li>
            <li>
                Your piano is engineered to be constantly under a great deal of tension from the collective pull of it's strings (see below for more details). If the tension on those strings is significantly decreased (ie. the individual keys are flat enough that they are 20% on their way down to being where the next note should be), then bringing them back up to tension can instantly add a cumulative 3,000+ lbs onto the structure of your piano. The new tension being added (imagine a large car being placed on the piano) causes the distance between the tuning pin and hitch pins to decrease and pitch of to drop again. To remedy this problem the piano technician will (in essence) tune the piano twice in a single service call, the first being the pitch raise, and the second being a fine tuning.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            How often should I have my piano tuned?
        </h4>
        <ul class="blog-description">
            <li>
                Most in home pianos need to be serviced every 12 to 18 months. Doing so will add longevity to the piano's life, help avoid major repairs and make it more enjoyable to play.
            </li>
            <li>
                It is a common misconception that pianos can be tuned too frequently. Some of the nicest pianos in concert halls are tuned multiple times per week. Most are tuned before a performance, and sometimes even during intermission they will receive a quick service.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            What causes a piano to loose pitch?
        </h4>
        <ul class="blog-description">
            <li>
                Temperature and humidity fluctuations are the piano's biggest enemy. The internal structure of the piano is mainly wood, metal, and felt. I'm sure you can imagine how those materials will react if placed under a swamp cooler over a heating/ac vent that is turned off and on all day, or in a location that gets direct sunlight for a couple hours in the day.
            </li>
            <li>
                Outside of temperature and humidity fluctuations expediting the process, simple physics over time causes the piano to loose tension.
            </li>
        </ul>
    </div>            
</section>

<section class="section-blog" id="blog">
    <div class="row">
        <h2>Fascinating Facts about your Piano</h2>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            PIANO SPECIFICATIONS
        </h4>
        <ul class="blog-description">
            <li>
                Nearly all pianos have 88 keys, but the number of strings inside of the piano varies by manufacturer and model. The average number of strings in a piano is 220.
            </li>
            <li>
                Each string in a piano is designed to maintain around 200 lbs of tension, which equates to more than 40,000 lbs of total string tension compressing the piano's support structure... this is enough tension to lift a mobile home off the ground!
            </li>
            <li>
                The average piano string is designed to last approximately 50 years before it needs to be overstretched to maintain it's tension... similar to a rubber band that has been under constant tension for a prolonged amount of time.
            </li>
            <li>
                Most early 1900's upright pianos did not have a middle pedal. It was simply the aesthetic appeal to the american consumers that caused piano manufacturers to add the middle pedal.
            </li>
            <li>
                While the middle pedal does have a defined purpose in grand pianos, the variety of functions performed by the middle pedal on upright pianos still vary greatly.
            </li>
            <li>
                The moving parts inside a piano that make it work, or piano action, can be very complicated with as many as 40-60 parts per key; each part having a specific purpose.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            ORIGIN OF THE PIANO
        </h4>
        <ul class="blog-description">
            <li>
                Bartholomeu Christophori is credited for inventing the Piano around the turn of the 18th century.
            </li>
            <li>
                He was an inventor and a musician for an Italian magistrate who wanted an instrument that was similar to the harpsichord, but that could fluctuate in volume.
            </li>
            <li>
                It took more than a decade and seven different renditions before Christophori had a design that he and other musicians were pleased with.
            </li>
            <li>
                He named his new instrument the Piano Forte ...Italian for Soft Loud.
            </li>
            <li>
                Christophori's design for has gone mostly unchanged to this day... more than 200 years later.
            </li>
        </ul>
    </div>
    <div class="blog long-copy">
        <h4 class="blog-title">
            MODERN PIANOS
        </h4>
        <ul class="blog-description">
            <li>
                The upright piano became popular starting in the 1890's, and by 1910 well over 100 different piano manufacturers were selling pianos in the United States.
            </li>
            <li>
                During the first and second world wars the majority of those piano manufacturers converted to making wartime goods, or were forsed to close altogether.
            </li>
            <li>
                It wasn't until the 1940's that the piano industry experienced a resurgence with the production of a cheaper, smaller piano called the Spinet, or Drop Action piano.
            </li>
            <li>
                By the mid 1950's the piano become, once again, an american staple for in-home entertainment.
            </li>
            <li>
                Today, piano technicians are called on to service all types of pianos, from brand new concert grands to family heirlooms from 1895.
            </li>
        </ul>
    </div>
</section>
