<header>
    <nav>
        <div class="row">
            <a href="#/intro"><img src="resources/images/logo.png" alt="Utah Piano Tuning Logo" class="logo"></a>
            <a href="#/intro"><img src="resources/images/logo.png" alt="Utah Piano Tuning Logo" class="logo-black"></a>
            <ul class="main-nav">
                <li><a href="#works">How it works</a></li>
                <li><a href="#cities">What to Expect</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li><a href="#/contact">Contact Us</a></li>
            </ul>
            <a class="mobile-nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Your piano needs help.<br>We know where to find it.</h1>
        <a class="btn btn-full" href="#/request">Request a Technician</a>
        <a class="btn btn-ghost" href="#">Technician Login</a>
    </div>
    <div class="header-scroll">
        <a href="#features"><i class="ion-ios-arrow-down icon-huge"></i></a>
    </div>

</header>

<section class="section-plans" id="plans">
    <div class="row">
        <h2>Welcome to Utah Piano Tuning!</h2>
        <h3>Tell us what you need &mdash; we handle the rest</h3>
        <p class="long-copy">
            We are Utah's #1 resource for piano tuners and technicians. &nbsp;Finding the right person for the job is not always easy. &nbsp;So let us take care of it. &nbsp;We're really good at it, we promise!
        </p>
    </div>

    <div class="row sub-header top-margin">
        <h3>It's easy as &nbsp; 1 . . . &nbsp; 2 . . . &nbsp; 3 !</h3>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Step #1</h3>
                    <p class="step-description">Submit <span>your free request</span></p>
                    <p class="step-description-action">What you provide...</p>
                </div>
                <div>
                    <i class="ion-ios-compose-outline icon-big"></i>
                    <ul>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Basic info about your piano</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>What kind of work you need</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Your contact information</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>The city/county you live in</li>
                    </ul>
                </div>
                <div>
                    <a href="#/request" class="btn btn-full modified">Request a Technician</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Step #2</h3>
                    <p class="step-description">Technicians <span>are notified</span></p>
                    <p class="step-description-action">What we provide...</p>
                </div>
                <div>
                    <i class="ion-ios-alarm-outline icon-big"></i>
                    <ul>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Instant alerts sent to technicians</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>They all review your request</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>A Technician claims your request</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>They receive your contact info</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-ghost">What to Expect</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Step #3</h3>
                    <p class="step-description">Schedule <span>appointment</span></p>
                    <p class="step-description-action">Expect a call!</p>
                </div>
                <div>
                    <i class="ion-ios-calendar-outline icon-big"></i>
                    <ul>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>You're emailed a confirmation</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Email contains technician's info</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>You call them or they'll call you</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Schedule your appointment</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-ghost">FAQ's</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-testimonials">
    <div class="container">
        <div class="row">
            <h2>Our customer's speak for themselves</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-3 whole-quote">
                <blockquote>
                    I was needing to have my piano worked on for years, but never knew who to call for what my piano needed.  Utah Piano Tuning easily solved that problem and had me in contact with a piano technician later the same day!
                    <cite>Alberto Duncan</cite>
                    <p>&nbsp; &#126;Ogden, UT</p>
                </blockquote>
            </div>
            <div class="col span-1-of-3 whole-quote">
                <blockquote>
                    After calling multiple piano technicians and finding out they either didn't service my area or didn't do the work I was needing I decided to try you guys.  I only wish I had gone through you from the start.
                    <cite>Dani Allen</cite>
                    <p>&nbsp; &#126;Provo, UT</p>
                </blockquote>
            </div>
            <div class="col span-1-of-3 whole-quote">
                <blockquote>
                    An hour after submitting my request I received an email confirming that a technician had claimed my request.  The email had his number, so I called him just as he was about to call me.  It worked great for both us!
                    <cite>Marie Vanderhoff</cite>
                    <p>&nbsp; &#126;Salt Lake City, UT</p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3 whole-quote">
                <blockquote>
                    I loved the piano technician who came out to my house.  He was courteous, informative, and took pride in his work.  I would not have found him without this website.  Thanks!
                    <cite>Jeremy Anderson</cite>
                    <p>&nbsp; &#126;Logan, UT</p>
                </blockquote>
            </div>
            <div class="col span-1-of-3 whole-quote">
                <blockquote>
                    My kids enjoy practicing the piano so much more now that it's working properly.  Now, instead of fighting me about practicing they are fighting over who gets to practice first!
                    <cite>Michelle Johnson</cite>
                    <p>&nbsp; &#126;Draper, UT</p>
                </blockquote>
            </div>
            <div class="col span-1-of-3 whole-quote">
                <blockquote>
                    It is so much fun playing my newly tuned and repaired piano!!  Thanks for making it so easy to find someone!
                    <cite>Joana Silva</cite>
                    <p>&nbsp; &#126;Lehi, UT</p>
                </blockquote>
            </div>
        </div>   
    </div>
</section>

<section class="section-plans" id="plans">
    <div class="row">
        <h2>Welcome to Utah Piano Tuning! <br> Tell us what you need &mdash; we handle the rest</h2>
        <p class="long-copy center">
            We are Utah's #1 resource for piano tuners and technicians. <br> Finding the right person for the job is not always easy. &nbsp;So let us take care of it. &nbsp;We're really good at it, we promise!
        </p>
    </div>

    <div class="row sub-header top-margin">
        <h3>It's easy as &nbsp; 1 . . . &nbsp; 2 . . . &nbsp; 3 !</h3>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Step #1</h3>
                    <p class="step-description">Submit <span>your free request</span></p>
                    <p class="step-description-action">Here's what you do...</p>
                </div>
                <div>
                    <i class="ion-ios-compose-outline icon-big"></i>
                    <ul>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Basic info about your piano</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>What kind of work you need</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Your contact information</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>The city/county you live in</li>
                    </ul>
                </div>
                <div>
                    <a href="#/request" class="btn btn-full modified">Request a Technician</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Step #2</h3>
                    <p class="step-description">Technicians <span>are notified</span></p>
                    <p class="step-description-action">Here's what we do...</p>
                </div>
                <div>
                    <i class="ion-ios-alarm-outline icon-big"></i>
                    <ul>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Instant alerts sent to technicians</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>They all review your request</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>A Technician claims your request</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>They receive your contact info</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-ghost">What to Expect</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Step #3</h3>
                    <p class="step-description">Schedule <span>appointment</span></p>
                    <p class="step-description-action">Expect a call!</p>
                </div>
                <div>
                    <i class="ion-ios-calendar-outline icon-big"></i>
                    <ul>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>You're emailed a confirmation</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Email contains technician's info</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>You call them or they'll call you</li>
                        <li class="li-step"><i class="ion-ios-checkmark-empty icon-small"></i>Schedule your appointment</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-ghost">FAQ's</a>
                </div>
            </div>
        </div>
    </div>
</section>