<div class="alt">
    <nav>
        <div class="row">
            <a href="#/intro"><img src="resources/images/logo.png" alt="Utah Piano Tuning Logo" class="logo"></a>
            <a href="#/intro"><img src="resources/images/logo.png" alt="Utah Piano Tuning Logo" class="logo-black"></a>
            <ul class="alt-nav">
                <li><a href="#works">How it works</a></li>
                <li><a href="#cities">FAQ's</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li><a href="#/contact">Contact Us</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
</div>

<section id="works" class="section-form">
    <div class="row">
        <h2>How can we help you?</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <h4 class="no-bottom-margin">Your Contact Information</h4>
            <h6>*All fields required.</h6>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Your Name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="phone">Phone</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="phone" name="phone" id="phone" placeholder="Your Phone" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="city">City</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="city" id="city" placeholder="Your City" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="county">County</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="county" id="county">
                        <option value="" disabled selected>Select One</option>
                        <option value="friends">Box Elder County</option>
                        <option value="search">Cache County</option>
                        <option value="ad">Davis County</option>
                        <option value="technician">Juab County</option>
                        <option value="other">Morgan County</option>
                        <option value="friends">Salt Lake County</option>
                        <option value="search">Tooele County</option>
                        <option value="ad">Utah County</option>
                        <option value="technician">Weber County</option>
                        <option value="other">Other</option>                        
                    </select>
                </div>
            </div>            
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="state">State</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="state" id="state" placeholder="Your State" required>
                </div>
            </div>

            <h4 class="no-bottom-margin">Helpful info about your piano</h4>
            <h6>*For help with terminology see below</h6>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="pianoBrand">What Brand of Piano is it?</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="pianoBrand" id="pianoBrand" placeholder="Piano's Brand">
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="pianoKind">What Kind of Piano is it?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="pianoKind" id="pianoKind">
                        <option value="" disabled selected>Select One</option>
                        <option value="">Grand</option>
                        <option value="">Console</option>
                        <option value="">Spinet</option>
                        <option value="">Old Upright</option>
                    </select>
                </div>
            </div> 
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="pianoAge">How old is your piano?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="pianoAge" id="pianoAge">
                        <option value="" disabled selected>Select One</option>
                        <option value="">0-15yrs</option>
                        <option value="">15-30yrs</option>
                        <option value="">30-50yrs</option>
                        <option value="">50-75yrs</option>
                        <option value="">75+ yrs</option>
                    </select>
                </div>
            </div> 
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="pianoServiced">When was your piano last serviced?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="pianoServiced" id="pianoServiced">
                        <option value="" disabled selected>Select One</option>
                        <option value="">0-1yrs</option>
                        <option value="">1-2yrs</option>
                        <option value="">3-5yrs</option>
                        <option value="">5-10yrs</option>
                        <option value="">10+ yrs</option>
                    </select>
                </div>
            </div> 

            <div class="row">
                <div class="col span-1-of-3">
                    <label>What services would you like performed?</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" name="Tuning" id="Tuning"> Tuning <br>
                    <input type="checkbox" name="PitchRaise" id="PitchRaise"> Pitch Raise <br>
                    <input type="checkbox" name="Repairs" id="Repairs"> Repairs <br>
                    <input type="checkbox" name="InternalCleaning" id="InternalCleaning"> Internal Cleaning <br>
                    <input type="checkbox" name="Regulation" id="Regulation"> Regulation <br>
                    <input type="checkbox" name="PurchaseConsult" id="PurchaseConsult"> Purchase Consult <br>
                    <input type="checkbox" name="Estimate" id="Estimate"> Estimate <br>
                    <input type="checkbox" name="Appraisal" id="Appraisal"> Appraisal <br>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Notes for your technician</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" placeholder="Indicate any questions, specific repair requests, best time to contact, etc."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Send it!">
                </div>
            </div>

        </form>

    </div>